# IDEs
*.kdev4
.project
.cproject
*~

# Documentation
doc/output

# Compilation output
build
src/gui-build-desktop
src/gui/gui.pro.user

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
